
@font-face {
font-family: "Roboto";
src: url("../fonts/RobotoMono.ttf");
}


html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.model-trainer-form {
  display: none;
  position: absolute;
  z-index: 999;
  left: 70%;
  bottom: 0;
  right: 0;
  top: 40%;
  display: none;
}

.foo {
  display: none;
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;

  line-height: 260%;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto",monospace;
  color:white;
}

#race-label {
  background: #69d6aa;
  color:black;
  padding:10px;
  border-radius: 5px;

}

#inc-label {
  background: #ffd05a;
  padding:10px;
  border-radius: 5px;
  color:black;


}

#edu-label {
  background: #e89952;
  padding:10px;
  border-radius: 5px;
  color:black;

}
