html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.model-trainer-form {
  display: none;
  position: absolute;
  z-index: 999;
  left: 70%;
  bottom: 0;
  right: 0;
  top: 40%;
  display: none;
}
